.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.block {
  margin: 100px auto;
  text-align: center;
  p {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 40px;
  }
}

.inputBlock {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  & input {
    font-size: 30px;
    width: 50px;
    margin-right: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e3e3e3;
    padding: 3px 0 3px 15px;
  }
}

.handWaveImg {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 5px;
  margin-bottom: 3px;
}

.phoneBlock {
  margin-bottom: 25px;
  font-size: 26px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #aaa;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(12deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ldsEllipsisWrapper {
  display: flex;
  justify-content: center;
}

.ldsEllipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsEllipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #4f6fa5;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.ldsEllipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
